<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
    >

    <!-- Job -->
    <bean id="taskJob" class="com.example.helloWorld.quartz.TestTask" />

    <!-- JobDetail -->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- object -->
        <property name="targetObject">
            <ref bean="taskJob"/>
        </property>
        <!-- method -->
        <property name="targetMethod">
            <value>run</value>
        </property>
    </bean>

    <!-- trigger -->
    <bean id="myTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="jobDetail"/>
        </property>
        <property name="cronExpression">
            <!-- 秒 分 小时 日 月 周 年 -->
            <value>0/10 * * * * ?</value>
        </property>
    </bean>

    <!-- scheduler -->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="myTrigger"/>
            </list>
        </property>
    </bean>

</beans>